body{
	margin: 0 auto;
}

#headerBlock{
	width: 350px;
	text-align: center;
	margin: 0 auto;
}

h1, #credit{
	text-align: middle;
	margin: 0;
}

#iyw{
	text-align: right;
	margin: 0px;
}

#description{
	width: 400px;
	margin: 50px auto;
	border: 1px black solid;
	padding: 5px;
}

h2{
	text-align: center;
}

#parameters{
	border: 1px black solid;
	width: 400px;
	margin: 10px auto;
	height: 250px;
}


label, input{
	display: block;
	float: left;
}
label{
	clear: left;
}