h1{
	text-align: center;
}

#description, #instructions{
	text-align: center;
}
#example{
	font-weight: bold;
}

textarea{
	height: 200px;
}

input{
	width: 90px;
}

#sampletext{
	border: 1px solid black;
	width: 500px;
	word-wrap: break-word;
	padding: 10px;
	font-size: 14px;
	background-color: antiquewhite;
	display: block;
	clear: both;
	margin: 0 auto;
}

textarea, #smalldiv, ol{
	width: 300px;
	display: block;
	clear: both;
	margin: 0 auto;
}

#smalldiv{
	padding: 0 0 ;
}
