body
{
	/*bgcolor & font colors taken from flatui colors*/
	background-color: #2c3e50;
	color: #ecf0f1;
}

#name{
	/*size and positioning*/
	display:	block;
	text-align: center;
	clear: 		right;
	margin: 	0 auto;
	
	/*font & appearance*/
	font-size: 64px;
}


/*Actual container for each header and description*/
.descContainer{
	display: 		block;
	float: 			left;
	clear: 			none;
	width: 			30%; /*10% not expanded, 33% when expanded*/
	margin-left:	10%;
	height: 		200px;
	
	/*border: 		1px #ecf0f1 solid;*/
}


.descHeader{
	cursor: pointer;
	font-size: 72px;
}

.description{
	font-size: 14px;
	display: none;
	padding: 10px;
}


.highlight{
	color: #f39c12;
}